<div class="container mt-4">
    <h3>Terms & Conditions</h3>
    <hr>
    <div class="container">
        <p class="text-muted mt-2">
            Please read these terms and conditions ("Terms", "Terms and Conditions") carefully before using our
            electronic
            product operated by Eensy Machines ("us", "we", / "our"). Your access to and use of the Product is
            conditioned
            on your acceptance of and compliance with these Terms. These
            Terms apply to all visitors, users, and others who access or use the product. By accessing or using the
            Product
            you agree to be bound by these Terms. If you disagree with any part of the
            terms then you may not access the product.
        </p>

        <ol>
            <li> <strong>Use of the Product</strong>
                <p class="text-muted mt-2">
                    The Product provided is intended for personal and non-commercial use only. You may not use the
                    Product for any illegal or unauthorized purpose nor may you, in the use of the Product, violate any
                    laws in your
                    jurisdiction (including but not limited to copyright laws).
                <ol class="text-muted">
                    <li>You must not dismantle, modify, or tamper with the Product's hardware or software components.
                    </li>
                    <li>We reserve the right to refuse service to anyone for any reason at any time.</li>
                </ol>
                </p>
            </li>
            <li><strong>Privacy</strong>
                <p class="text-muted mt-2">Your use of the Product is also governed by our Privacy Policy. Please review
                    our
                    Privacy Policy for more information on how we collect, use, and disclose information.
                </p>
            </li>
            <li> <strong>Intellectual property</strong>
                <p class="text-muted mt-2">The Product and its original content, features, and functionality are and
                    will
                    remain the exclusive property of Eensy Machines and its licensors. The Product is protected by
                    copyright, trademark, and other laws of both India and foreign countries. Our trademarks and trade
                    dress
                    may not be used in connection with any product or service without the prior written consent of Eensy
                    Machines.
                </p>
            </li>

            <li> <strong>Limited Liability</strong>
                <p class="text-muted mt-2">In no event shall Eensy Machines, nor its directors, employees, partners,
                    agents,
                    suppliers, or affiliates, be liable for any indirect, incidental, special, consequential, or
                    punitive
                    damages, including without limitation, loss of profits, data, use, goodwill, or other intangible
                    losses,
                    resulting from (i) your access to or use of or inability to access or use the Product; (ii) any
                    conduct
                    or content of any third party on the product; (iii) any content obtained from the Product; and (iv)
                    unauthorized access, use, or alteration of your transmissions or content, whether based on warranty,
                    contract, tort (including negligence), or any other legal theory, whether or not we have been
                    informed
                    of the possibility of such damage, and even if a remedy set forth herein is found to have failed of
                    its
                    essential purpose.</p>
            </li>
            <li> <strong>Governing Law</strong>
                <p class="text-muted mt-2"> These Terms shall be governed and construed in accordance with the laws of
                    Republic of India, without regard to its conflict of law provisions.
                </p>
            </li>
            <li><strong>Changes</strong>
                <p class="text-muted mt-2"> We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will try to provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                </p>
            </li>
            <li><strong>Contact</strong>
                <p class="text-muted mt-2">  If you have any questions about these Terms, please contact us at aquaponics_desk@eensymachines.in.
                    By accessing or using the Product, you agree to be bound by these Terms. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Product.
                </p>
            </li>
        </ol>
    </div>

</div>